.wrapper
  .center
    fleur-the-lis
    h2 Escape Hypoheliosis
    h2 Reclaim the Earth
    h2 Return to Paradise
    fleur-the-lis.demo-menu-open-button
    .disclaimer Disclaimer: This map is not completed and is updated as I gain knowledge of more pieces.
    #firstLine(layout="row", layout-align="center center")
      .sub-group(flex=33, layout="column")
        .box(layout="column")
          h3.box-title +A
            span(hide show-gt-sm) Box of Knowledge
          group(group-name="1", start="1", end="1")
          group#needs(group-name="22-35", start="22", end="35")
          group#mastery(group-name="36-40", start="36", end="40")
          group.c41-43(group-name="41-43", start="41", end="43")
          group(group-name="44", start="44", end="44")
          .group 45-114
          group(group-name="116", start="116", end="116")
        group.doorway-v(group-name="3-21", start="3", end="21")
      group.doorway(group-name="51-60", start="51", end="60")
      .sub-group(flex=33, layout="column")
        .box(layout="column", flex=33)
          h3.box-title +B
            span(hide show-gt-sm) Box of Right Actions
          group#needs(group-name="61-74", start="61", end="74")
          group#mastery(group-name="75-79", start="75", end="79")
          group#o-control(group-name="80", start="80", end="80")
          group(group-name="113", start="113", end="113")
        group.doorway-v
      group.doorway(group-name="107", start="107", end="107")
      .sub-group(flex=33, layout="column")
        .box(layout="column", flex=33)
          h3.box-title +C
            span(hide show-gt-sm) Box of Unlimited Potential
          group(group-name="101", start="101", end="101")
          group#o-control(group-name="102", start="102", end="102")
          group(group-name="103", start="103", end="103")
        group.doorway-v(group-name="108", start="108", end="108")
    #second-line(layout="row",layout-align="center center")
      .box(layout="column", flex=33)
        h3.box-title -A
          span(hide show-gt-sm) Box of False Knowledge
        group(group-name="2", start="2", end="2")
        group(group-name="118, i.e. 2", start="118", end="118")
        group(group-name="120, i.e. 2", start="120", end="120")
      group.doorway(group-name="105", start="105", end="105")
      .box(layout="column", flex=33)
        h3.box-title -B
          span(hide show-gt-sm) Box of Mistakes
        group#needs(group-name="81-94", start="81", end="94")
        group#mastery(group-name="95-99", start="95", end="99")
        group#o-control(group-name="100", start="100", end="100")
        group(group-name="117, i.e. 3", start="117", end="117")
        group(group-name="119, i.e. 3", start="119", end="119")
        group(group-name="115", start="115", end="115")
      group.doorway(group-name="106", start="106", end="106")
      .box(layout="column", flex=33)
        h3.box-title -C
          span(hide show-gt-sm) Box of Problems
        group(group-name="103", start="103", end="103")
        group#o-control(group-name="104", start="104", end="104")
    fleur-the-lis
