.wrapper(layout="row" layout-align="left center")
  div
    md-icon.social-media-icons(md-font-icon="fa-github" class="fa")
      md-tooltip view source on github
    md-icon.social-media-icons(md-font-icon="fa-youtube" class="fa")
      md-tooltip visit john rose's youtube
