navbar
red-box

section#parallax
  .image.one(data-center="background-position: 50% 0px;", data-top-bottom="background-position: 50% -100px;", data-anchor-target="#parallax1")

the-map.the-map

green-box
section#parallax
  .image.two(data-center="background-position: 50% 0px;", data-top-bottom="background-position: 50% -100px;", data-anchor-target="#parallax1")


the-feast

blue-box
section#parallax
  .image.three(data-center="background-position: 50% 0px;", data-top-bottom="background-position: 50% -100px;", data-anchor-target="#parallax1")

.feast-seminar
  .center
    .videoWrapper
      iframe(width="560",height="315",src="https://www.youtube.com/embed/04lhe1gzfgU",frameborder="0",allowfullscreen)
