.wrapper(layout="column", layout-gt-sm="row")
  .left(flex=100, flex-gt-sm=50, layout="row", layout-align-gt-sm="end center", layout-align="center center")
    .banner(flex=70, data-aos="fade", data-aos-duration="3000") The Hero's Journey
  .right(flex=100, flex-gt-sm=50, layout, layout-align="center center" layout-align-gt-sm="start center")
    .chapter(flex=100 flex-gt-sm=70)
      h1(data-aos="fade", data-aos-duration="1000") Chapter II
      h2(data-aos="fade", data-aos-delay="100", data-aos-duration="1000") Return to paradise
      p.description(data-aos="fade", data-aos-delay="200", data-aos-duration="1000").
        The years passed in the stillness of the cave. As the seasons came and went a sense of
        unease grew ever stronger in your mind. Structures that had seems normal and unsuspicious
        during your whole life now slowly unveiled themselves as grotesque and unnatural. And always
        gnawing on your mind was the distant memories of the raving madman. You pick up the map from
        beneath your seat and find the piece you have been looking at every evening for the last few years,
        the piece marked with the name "The Hero's Journey".

      fleur-the-lis(data-aos="fade", data-aos-delay="200", data-aos-duration="1000")
      p.description(data-aos="fade", data-aos-delay="200", data-aos-duration="1000").
        With a growing sense of purpose you assemble the different ingredients and tools needed to
        make the different potions. The days that followed the dwellers watched in amazement as you
        slowly flew towards the entrance of the cave.
