.wrapper(layout="column", layout-gt-sm="row")
  .left(flex=100, flex-gt-sm=50, layout="row", layout-align-gt-sm="end center", layout-align="center center")
    .banner(flex=100, flex-md=90, flex-gt-md=70) The Hero's Map
  .right(flex=100, flex-gt-sm=50, layout-align="center center" layout-align-gt-sm="start center")
    .chapter(flex=100, flex-md=90, flex-gt-md=70)
      h1 Chapter I
      h2 The seeds of hope are sown
      p.description.
        It was an ordinary day in plato's cave when the peace and quiet of your everyday life was
        disrupted by the ravings of a madman. You observed -with some disdain- the stranger rant
        about newly found wisdom and paths long forgotten. It was not long before the other inhabitants
        of the cave grew tired of the noise and enthusiasm of the madman. And finally the most well-built
        of the cavedwellers landed a mighty blow upon his cheek. The man fell to the ground, but you noticed
        that something fell out of his robe whilst falling. You pick up the object and soon realise that
        it is a map. It had a myriad of pathways and tunnels and you quickly dismissed the drawing as
        nonsense, but could not help but wonder;

      p.description.p2 ...what if the madman was right?
