.wrapper(layout="column", layout-gt-sm="row")
  .left(flex=100, flex-gt-sm=50, layout="row", layout-align-gt-sm="end center", layout-align="center center")
    .banner(flex=100, flex-md=90, flex-gt-md=70, data-aos="fade", data-aos-duration="3000") The Father
  .right(flex=100, flex-gt-sm=50, layout, layout-align="center center" layout-align-gt-sm="start center")
    .chapter(flex=100, flex-md=90, flex-gt-md=70)
      h1(data-aos="fade", data-aos-duration="1000") Chapter III
      h2(data-aos="fade", data-aos-delay="100", data-aos-duration="1000") Beings of light
      p.description(data-aos="fade", data-aos-delay="200", data-aos-duration="1000").
        After weeks of purifying transformations you pass into the blinding light. You can distinguish the
        silhouette of a man against the radiance of the sun. As the world slowly regains its hue you fall to your knees
        in awe of its divine splendor.

      p.description.p2(data-aos="fade", data-aos-delay="200", data-aos-duration="1000") You look up and see the madman stretching out his hand.
